*{
    margin: 0;
    padding: 0;
}

.area{
    background: url(./img/bg.jpg);
    height: 100vh;
    width: 100vw;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    position: relative;
}

.playArea{
    display: grid;
    position: absolute;
    background: linear-gradient(rgb(192, 222, 207),rgb(205, 226, 205));
    height: 80vh;
    width: 40vw;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
    border: solid 2px;
    margin: auto;
    left: 31vw;
    top: 14vh;
}

