/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

body{
    background-color:antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}
/* used for removing the space above the navbar */

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    background-color: black;
    color:whitesmoke;
    height: 55px;
}
nav ul li{
    font-family: 'Ubuntu', sans-serif;
    padding-right: 10px;
    font-size: medium;
}

.brand{
    font-weight: bolder;
    font-size: large;
}
.brand img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    padding-top: 1px;
}

.container{
    height: 65vh;
    width: 70%;
    background-color: black;
    color: whitesmoke;
    margin: 20px auto;
    display: flex;
    padding: 34px;
    border-radius: 12px;
    background-image: url("./images/bg.jpg");
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: right;
    image-resolution: 300dpi;
}
.header{
    margin-top: 0%;
    padding: 0%;
    font-family: 'Cairo', sans-serif; 
}
.bottom{
    display: flex;
    background-color: black;
    color:whitesmoke;
    height: 100px;
    width: 100%;
    position: sticky;
    bottom:0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#play{
    padding-right: 15px;
    padding-left: 15px;
}
.playButtons{
    display:flexbox;
    margin-top: 10px;
    /* height:5vh;
    width: 5vw; */
    align-items: center;
    justify-content: space-between;
    flex-direction:row;

}

svg{
    cursor: pointer;
}
 

#songPlayRange{
    width: 60vw;
}

.songItemContainer{
    margin: 20px;
}
.songItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 34px;
    height: 50px;
    justify-content: space-between;
    color:black;
    margin: 20px 0px 10px 0px;

}
.songItem img{
    width: 43px;
    margin:10px 0px 10px 20px;
    border-radius: 23px;
}

.songInfo{
    position:absolute;
    color:white;
    left: 5vw;
    top: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.songInfo img{
    opacity:0;
}

